.cart {
  width: 100%;
}

.cart-table {
  width: 100%;
  margin: 1rem 0;
}

.cart-table table {
  width: 100%;
}

.cart-table thead {
  display: none;
}

.cart-table tr {
  border-bottom: 1px solid #c5c5c5ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

.cart-table tr th {
  color: #000;
  font-size: 1.5rem;
}

.cart-table tbody {
  width: 100%;
}

.cart-table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 500px;
}

.cart-table tbody tr td {
  width: 100%;
  max-height: 150px;
}

.cart-table tbody tr td p {
  font-size: 1.6rem;
}

.cart-table tbody tr td.cart-price {
  position: relative;
  left: 1%;
}

.cart-table tbody tr td.cart-total {
  position: relative;
  left: 2%;
  font-weight: bold;
}

.cart-table tbody tr td.cart-qty {
  position: relative;
  left: -0.9%;
}

.cart-table tbody tr td.cart-qty .quantity {
  position: relative;
}

.cart-table tbody tr td.cart-qty input[type="number"]::-webkit-inner-spin-button,
.cart-table tbody tr td.cart-qty input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-table tbody tr td.cart-qty input[type="number"] {
  -moz-appearance: textfield;
}

.cart-table tbody tr td.cart-qty .quantity input {
  width: 75px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #000;
}

.cart-table tbody tr td.cart-qty .quantity input:focus {
  outline: 0;
}

.cart-table tbody tr td.cart-qty .quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.cart-table tbody tr td.cart-qty .quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #000;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cart-table tbody tr td.cart-qty .quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #000;
}

.cart-table tbody tr td.cart-qty .quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.cart-table tbody tr td.cart-image {
  margin: 1rem;
  margin-left: 0;
  position: relative;
  height: 120px;
  width: 50%;
}

.cart-table tbody tr td .cart-vari p {
  padding-right: 1rem;
}

.cart-table tbody tr form input {
  width: 25rem;
  padding: 1.2rem 1.5rem;
}

.cart-table tbody tr form button {
  padding: 1.2rem 1.5rem;
  position: relative;
  left: -4%;
  top: 0.3rem;
  outline: none;
}

.cart-table tbody tr form button > * {
  position: relative;
  top: 0.3rem;
}

.cart-table .next-row {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.cart-table .next-row td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart-table .next-row .cart-del select {
  padding: 1.2rem 1.5rem;
  width: 25rem;
  outline-color: none;
  border: 1px solid;
}

.cart-table .last-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: none;
}

.cart-table .last-row .calcul {
  width: 25rem;
  padding: 2.5rem 0;
}

.cart-table .last-row .calcul span {
  font-weight: bold;
}

.cart-table .last-row .calcul-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-table .last-row .calcul-discount p {
  font-size: 15px;
}

.cart-table .last-row .calcul-discount span {
  position: relative;
  justify-self: flex-start;
}

.cart-table .last-row .calcul-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 35px !important;
  padding: 1rem 0;
}

.cart-table .last-row .calcul-button button {
  padding: 1rem 4.5rem;
}

@media (max-width: 768px) {
  .cart-table tr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-table tr td.empty {
    display: none;
  }
  .cart-table tbody tr {
    max-height: 100vh;
  }
  .cart-table tbody tr td {
    max-height: 100vh;
  }
  .cart-table tbody tr td.cart-image {
    height: 30rem;
    width: 50%;
  }
  .cart-table tbody tr td.cart-prodInfo {
    width: 100%;
    text-align: center;
  }
  .cart-table tbody tr td.cart-price {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
  }
  .cart-table tbody tr td.cart-total {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
  }
  .cart-table tbody tr td.cart-qty {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
  }
  .cart-table tbody tr td.cart-remove {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
  }
  .cart-table tbody tr td .cart-vari {
    padding: 1rem 0;
    display: block;
  }
  .cart-table .next-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .cart-table .next-row .cart-input {
    position: relative;
    left: 9%;
  }
  .cart-table .last-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=Cart.css.map */