.category {
    min-height: 600px;
}

.category .grid {
    grid-template-rows: repeat(2, 250px);
    transition: all 0.3s;
    @media (max-width: 768px) {
        grid-template-columns: 300px;
        grid-template-rows: auto;
    }
}

.grid-item {
    height: 100%;
    position: relative;
    h2 {
        position: relative;
        top: 45%;
    }
    button {
        position: relative;
        top: 75%;
        left: 80%;
        display: flex;
        justify-self: flex-end;
        padding: 2rem;
        z-index: 9999;
    }
}

.grid-item-a {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: all 0.3s;
}

.grid-item-b {
    button {
        top: 55%;
        left: 70%;
    }
}

.grid-item-c {
    button {
        top: 55%;
        left: 70%;
    }
}

.grid-item-d {
    transition: all 0.3s;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    button {
        left: 70%;
        top: 78%;
    }
}

@media (max-width: 768px) {
    .grid-item {
        height: 25rem;
        position: relative;
        h2 {
            position: relative;
            top: 45%;
        }
        button {
            position: relative;
            top: 75%;
            left: 80%;
            display: flex;
            justify-self: flex-end;
            padding: 2rem;
            z-index: 9999;
        }
    }
    .grid-item-a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        button {
            position: relative;
            top: 50%;
            left: 70%;
            display: flex;
            justify-self: flex-end;
            padding: 2rem;
            z-index: 9999;
        }
    }
    .grid-item-b {
        button {
            top: 55%;
            left: 70%;
        }
    }
    .grid-item-c {
        button {
            top: 55%;
            left: 70%;
        }
    }
    .grid-item-d {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
        button {
            left: 70%;
            top: 55%;
        }
    }
}