.faq {
    &-item {
        cursor: pointer;
        border: 1px solid;
        margin: 2rem 0;
        max-height: 500px;
        display: flex;
        &-btn {
            padding: 1.5rem 1rem;
            span {
                padding: 0.5rem 1rem;
            }
        }
    }
    &-title {
        padding: 1rem 0;
        font-size: 2rem;
    }
    &-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(1, 0, 1, 0);
    }
    &-content.show {
        height: auto;
        max-height: 500px;
        transition: all 0.3s cubic-bezier(1, 0, 1, 0);
        padding: 1rem 0;
        p {
            font-size: 1.4rem;
        }
    }
}